{% extends 'base.html' %} {% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group row">
        <label for="companyname" class="col-sm-2 col-form-label">公司</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="companyname" id="companyname" placeholder="Company name">
        </div>
    </div>
    <div class="form-group row">
        <label for="position" class="col-sm-2 col-form-label">職位</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="position" id="position" placeholder="Position">
        </div>
    </div>


    <div class="form-group row">
        <label for="companyemail" class="col-sm-2 col-form-label">聯絡方式</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="companyemail" id="companyemail" placeholder="Company Email">
        </div>
    </div>

    <div class="form-group row">
        <label for="content" class="col-sm-2 col-form-label">工作內容</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="content" id="content" placeholder="content">
        </div>
    </div>
    <div class="form-group row">
        <label for="skills" class="col-sm-2 col-form-label">技能</label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="skills" id="skill1" value="python">
                <label class="form-check-label" for="skill1">python</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="skills" id="skill2" value="django">
                <label class="form-check-label" for="skill2">django</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="skills" id="skill3" value="mysql">
                <label class="form-check-label" for="skill3">mysql</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="skills" id="skill4" value="javascript">
                <label class="form-check-label" for="skill4">javascript</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="skills" id="skill5" value="jquery">
                <label class="form-check-label" for="skill5">jquery</label>
            </div>
        </div>
    </div>







    <div class="form-group row">
        <div class="col-sm-10 offset-md-2">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-bath" aria-hidden="true"></i> 新增</button>
        </div>
    </div>
</form>
{% endblock %}